
# Database
POSTGRES_USER=fashion_store
POSTGRES_PASSWORD=fashion_864
POSTGRES_DB=fashion_store
DATABASE_URL="postgresql://fashion_store:fashion_864@localhost:5433/fashion_store"

# Redis
REDIS_PASSWORD=redis123
REDIS_URL="redis://:redis123@localhost:6380"

# JWT
JWT_SECRET="secret_dev_change_in_prod"
JWT_REFRESH_SECRET="refresh_secret_change_in_prod"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# App
PORT=3002
NODE_ENV=development